<!-- <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
    aria-controls="offcanvasExample">
    Link with href
</a> -->
<div class="container-fluid">
    <i class="fa-solid fa-bars fs-1" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
        aria-controls="offcanvasExample"></i>

    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
            <button type="button" class="btn-close text-bg-light p-3" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="dropdown mt-3">
                <ul class="list-group">
                    <li class="list-group-item mt-5 fs-3 text-center">
                        <a class = 'nav-link' routerLink="/eCommMain-component">E-Comm</a>
                    </li>
                    <li class="list-group-item mt-5 fs-3 text-center" routerLink = "eCommMain-component">A second item</li>
                    <li class="list-group-item mt-5 fs-3 text-center">A third item</li>
                    <li class="list-group-item mt-5 fs-3 text-center">A fourth item</li>
                    <li class="list-group-item mt-5 fs-3 text-center">And a fifth one</li>
                  </ul>
            </div>
        </div>
    </div>
</div>