<div class="container mt-5">
    <select id="countryDropdown" class="{{bootstrapFormClass}}" [(ngModel)]="displayCountry">
        <option value="">Select Country</option>
        <option value="America">America</option>
        <option value="Russia">Russia</option>
        <option value="India">India</option>
        <option value="China">China</option>
    </select>
</div>
<div class="container">
    <!-- <p class="fs-1">{{displayCountry}}</p> -->
    <span [class]="bootstrapBtnClass" (click)="spanClicked()">Click me</span>
    <br><br>
    <div class="container mt-4" *ngIf="isCardVisible">
        <div class="card" style="width: 18rem;">
            <img *ngIf="countryDetails?.flag" [src]="countryDetails?.flag" class="card-img-top" alt="{{countryDetails?.name}} Flag">
            <div class="card-body">
                <h5 class="card-title">{{ countryDetails?.name }}</h5>
                <p class="card-text">{{ countryDetails?.description }}</p>
                <a href="#" class="btn btn-primary">Explore More</a>
            </div>
        </div>
    </div>
</div>
